<% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "login", new_user_session_path %>
<% end %>

<h1> <%= @user.username %> </h1>

<% if !@user.picture.attached? %>
    <%= image_tag  "https://i.stack.imgur.com/34AD2.jpg"%>
<% else %>
    <%= image_tag @user.picture %>
<% end %>

<ul>
    <li> Bitcoin address: <%= @user.btc_address %> </li>
    <li> Bio: <%= @user.bio %> </li>
</ul>

<h3> Information on <%= @user.username %> </h3>

<ul>
    <li>Feedback Score: <%= @user.feedback_score %> </li>
    <li>Number of BTC purchases: <%= @user.num_btc_purchases %> </li>
    <li>Number of BTC listings sold: <%= @user.num_completed_listings %> </li>
    <li>Account Created: <%= @user.created_at.strftime("%B %d, %Y") %> </li>
    <li>Country: <%= @user.country %> </li>
    <li>City: <%= @user.city %> </li>
</ul>