

<% if @listing.errors.any? %>
    <% @listing.errors.full_messages.each do |message| %>
        <li style="color: red"><%= message %></li>
    <% end %>
<% end %>

<div class="text-left">
    <div class="form-container">
        <h1>New Listing</h1>

        <div class="form-group">
            <%= form_with(model: @listing, local: true) do |form| %>
                <div class="form-item">
                    <%= form.label :title %>
                    <%= form.text_field :title, class:"form-control" %>
                </div>

                <div class="form-item">
                    <%= form.label :description %>
                    <%= form.text_area :description, class:"form-control", rows: "6" %>
                </div>

                <div class="form-item">
                    <%= form.label :price_BTC_AUD, "Price (BTC/AUD)"%>
                    <%= form.number_field :price_BTC_AUD, class:"form-control" %>
                </div>

                <div class="form-item">
                    <%= form.label :amount %>
                    <%= form.number_field :amount, class:"form-control" %>
                </div>

                <%= form.hidden_field :payment_method, value: "Credit Card" %>
                <%= form.hidden_field :status, value: :available_listing %>

                <div class="form-submit">
                    <%= form.submit "Create Listing", class: "btn btn-lg btn-primary btn-block" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

