<% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "login", new_user_session_path %>
<% end %>

<h2>Buy Bitcoins</h2>

<h4> <%= @listing.title %> </h4>

<ul>
    <li> <%= @listing.user.username %> </li>
    <li> <%= number_to_percentage(@listing.user.feedback_score, precision: 1) %>, <%= @listing.user.num_completed_listings %> listings</li>
    <li> Price/BTC: <%= number_to_currency(@listing.price_BTC_AUD) %> </li>
    <li> Amount: <%= number_to_currency(@listing.amount) %> </li>
    <li> Payment Method: <%= @listing.payment_method %> </li>
    <li> Location: <%= @listing.user.city %>, <%= @listing.user.country %> </li>
    <li> Description: <%= @listing.description %> </li>

    <%#User shouldn't be able to buy their own listing%>
    <%# if current_user.id != @listing.user.id %>
    
        
  
</ul>

<% if current_user == @listing.user %>
    <%= link_to "edit", edit_listing_path(@listing.id) %>

    <% if @listing.status == "available_listing" %>
        <%= form_with model: @listing, local: true, method: "delete" do |form| %>
            <%= submit_tag "delete" %>
        <% end %>
    <% end %>
<% else %>
    Make Payment (Stripe FORMS TO BE ADDED/Pay now button) 
<% end %>
