<div class="grid">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h2>Buy Bitcoins</h2>

        <h4> <%= @listing.title %> </h4>

        <div class="card w-50 position-relative mb-5">
            <div class="card-header">
                Listing User Profile
            </div>
            <div class="card-body">
                <%= link_to "#{@listing.user.username}",  user_path(@listing.user.id) %> 
            </div>
            <div class="card-header">
                Reputation Score
            </div>
            <div class="card-body">
                <% if @listing.user.feedback_score != nil%>
                    <%= @listing.user.num_completed_listings %> listing(s) sold; <%= number_to_percentage(@listing.user.feedback_score*100, precision: 1) %>
                <% else %>
                    <%= @listing.user.num_completed_listings %> listing(s) sold; No feedback acquired;
                <% end %>
            </div>
            <div class="card-header">
                Price/BTC
            </div>
            <div class="card-body">
                <%= number_to_currency(@listing.price_BTC_AUD) %> 
            </div>
            <div class="card-header">
                Amount
            </div>
            <div class="card-body">
                <%= number_to_currency(@listing.amount) %> 
            </div>
            <div class="card-header">
                Payment Method
            </div>
            <div class="card-body">
                <%= @listing.payment_method %> 
            </div>
            <div class="card-header">
                Location
            </div>
            <div class="card-body">
                <%= @listing.user.city %>, <%= @listing.user.country %> 
            </div>
            <div class="card-header">
                Description/Payment Instructions
            </div>
            <div class="card-body">
                <%= @listing.description %>  
            </div>
        </div>
        Users must be signed in to buy Bitcoin. Sign up today. 
        <br>
        <br>
    </div>
</div>
