<h2>Buy Bitcoins</h2>

<h4> <%= @listing.title %> </h4>

<ul>
    <li> <%= link_to "#{@listing.user.username}",  user_path(@listing.user.id) %> </li>
    <li> <%= number_to_percentage(@listing.user.feedback_score*100, precision: 1) %>, <%= @listing.user.num_completed_listings %> listings</li>
    <li> Price/BTC: <%= number_to_currency(@listing.price_BTC_AUD) %> </li>
    <li> Amount: <%= number_to_currency(@listing.amount) %> </li>
    <li> Payment Method: <%= @listing.payment_method %> </li>
    <li> Location: <%= @listing.user.city %>, <%= @listing.user.country %> </li>
    <li> Description: <%= @listing.description %> </li>
</ul>

<% if current_user == @listing.user %>
    <%= link_to "edit", edit_listing_path(@listing.id) %>

    <%# Should this error check be in the controller?%>
    <% if @listing.status == "available_listing" %>
        <%= form_with model: @listing, local: true, method: "delete" do |form| %>
            <%= submit_tag "delete" %>
        <% end %>
    <% end %>
<% else %>
    Make Payment (Stripe FORMS TO BE ADDED/Pay now button) 
<% end %>
